
<div ng-controller="LoginController as login" ng-model="template">
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">AeroNews</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">Pistas</a></li>
					<li><a href="#contact">Parceiros</a></li>
				</ul>
				<div ng-hide="user.authenticated">
					<form class="navbar-form navbar-right" novalidate>
						<div class="form-group">
							<input ng-model="user.email" type="email" placeholder="E-mail" class="form-control">
						</div>
						<div class="form-group">
							<input ng-model="user.password" type="password" placeholder="Senha" class="form-control">
						</div>
						<button ng-click="authenticate(user)" type="submit" class="btn btn-success">Entrar</button>
					</form>
				</div>
				<div class="navbar-right" ng-show="user.authenticated">
						<ul class="nav navbar-nav">
							<li>
								<a 	href="#" class="dropdown-toggle" id="dropdown-user" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="true" style="font-weight: bold">
									{{user.name}}
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdown-user">
								    <li><a href="#">Meu Perfil</a></li>
								    <li><a href="#" ng-click="logout()">Sair</a></li>
								  </ul>
							</li>
						</ul>
				</div>
			</div>
		</div>
	</nav>
</div>