<div ng-controller="LoginController as loginCtrl" ng-model="template">
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">AeroNews</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">Pistas</a></li>
					<li><a href="#contact">Parceiros</a></li>
				</ul>
				<div ng-hide="loginCtrl.user.authenticated">
					<form class="navbar-form navbar-right" name="loginForm" ng-submit="loginForm.$valid && loginCtrl.authenticate()" novalidate>
						<div class="form-group">
							<input ng-model="loginCtrl.user.email" type="email" placeholder="E-mail" class="form-control" required>
						</div>
						<div class="form-group">
							<input ng-model="loginCtrl.user.password" type="password" placeholder="Senha" class="form-control" required>
						</div>
						<button type="submit" class="btn btn-success">Entrar</button>
						<p class="col-sm-offset-3 help-block error" ng-show="loginForm.$submitted && loginForm.email.$error.required">please enter your email</p>
    					<p class="col-sm-offset-3 help-block error" ng-show="loginForm.$submitted && loginForm.email.$error.email">please enter a valid email</p>
					</form>
				</div>
				<div class="navbar-right" ng-show="loginCtrl.user.authenticated">
						<ul class="nav navbar-nav">
							<li>
								<a 	href="#" class="dropdown-toggle" id="dropdown-user" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="true" style="font-weight: bold">
									{{loginCtrl.user.name}}
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdown-user">
								    <li><a href="#">Meu Perfil</a></li>
								    <li><a href="#" ng-click="loginCtrl.logout()">Sair</a></li>
								  </ul>
							</li>
						</ul>
				</div>
			</div>
		</div>
	</nav>
</div>