<!DOCTYPE html>
<html ng-app="main">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/main.css">

<title>AeroNews</title>
</head>
<body ng-controller="MainController">
	<div ng-controller="LoginController as loginCtrl" ng-model="template">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#home">AeroNews</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse" ng-controller="NavbarController">
					<ul class="nav navbar-nav">
						<li ng-class="{ active: isActive('/') || active: isActive('/home')}"><a href="#home">Home</a></li>
						<li><a ng-class="{ active: isActive('/pistas')}" href="#pistas">Pistas</a></li>
						<li><a ng-class="{ active: isActive('/parceiros')}" href="#parceiros">Parceiros</a></li>
					</ul>
					<div ng-hide="loginCtrl.user.authenticated">
						<span class="label label-danger" ng-show="loginForm.$submitted && loginForm.email.$error.required">E-mail inválido</span>
						<form class="navbar-form navbar-right" name="loginForm" ng-submit="loginForm.$valid && loginCtrl.authenticate()" novalidate>
							<div class="form-group">
								<input id="email" name="email" ng-model="loginCtrl.user.email" type="email" placeholder="E-mail" class="form-control" required>
							</div>
							<div class="form-group">
								<input id="password" name="password" ng-model="loginCtrl.user.password" type="password" placeholder="Senha" class="form-control" required>
							</div>
							<button type="submit" class="btn btn-success">Entrar</button>
						</form>
					</div>
					<div class="navbar-right" ng-show="loginCtrl.user.authenticated">
							<ul class="nav navbar-nav">
								<li>
									<a 	class="dropdown-toggle" id="dropdown-user" data-toggle="dropdown"
										aria-haspopup="true" aria-expanded="true" style="font-weight: bold">
										{{loginCtrl.user.name}}
									</a>
									<ul class="dropdown-menu" aria-labelledby="dropdown-user">
									    <li><a>Meu Perfil</a></li>
									    <li><a ng-click="loginCtrl.logout()">Sair</a></li>
									  </ul>
								</li>
							</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>

	<div class="container">
		<div ng-view></div>
	</div>

	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	<script type="text/javascript" src="js/index/main.js"></script>
</body>
</html>