@CHARSET "UTF-8";

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.css-form input.ng-invalid.ng-touched {
	background-color: #ffcdcf;
}

.css-form input.ng-valid.ng-touched {
	background-color: #e2ffe6;
}
